@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
    scroll-snap-stop:always;
    scroll-snap-type: mandatory;
}
body{
    color: #fff;
}
a{
    text-decoration: none;
    color: inherit;
    width: 100%;
}
.main{
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #EC1187 linear-gradient(to bottom right, #EC1187 0%, #FF8D10 100%);
}
.skin{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.typeMsg{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    padding: 50px 30px;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.typeMsgIn{
    width: 100%;
    display: flex;
    max-width: 640px;
    min-width: 250px;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.topSec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.topSecIn{
    display: flex;
    margin-bottom: 100px;
}

.msgSentPage{
    width: 100%;
    display: none;
    margin: 30px 0;
}
.backBtn{
    border: none;
    top: 25px;
    left: 25px;
    outline: none;
    position: absolute;
    transition: transform .2s;
    background-color: transparent;
}
.msgSentPageIn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.msgSentPageIn p{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .5px;
    margin-top: 10px;
}

.uppersec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 32px 32px 25px 25px;
    box-shadow: 0px 0px 5px #ffffffad;
}
header{
    width: 100%;
    display: flex;
    color: #000;
    padding: 16px 16px 12px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 32px 32px 0 0;
    border-bottom: 1px solid #000;
}
.img{
    width: 42px;
    height: 42px;
    min-width: 42px;
    min-height: 42px;
    border-radius: 50%;
    margin-right: 15px;
    outline-offset: 2px;
    overflow: hidden;
    background-color: #0000004a;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: .9rem;
}
.username{
    font-weight: 500;
}
.txt{
    font-weight: 600;
}
.inputSec{
    width: 100%;
    position: relative;
    border-radius: 0 0 25px 25px;
    background-color: #ffffff66;
    backdrop-filter: blur(24px);
}
.randomMsg{
    position: absolute;
    bottom: 16px;
    right: 16px;
    border: none;
    font-size: 16px;
    background-color: #ffffff40;
    border-radius: 100px;
    min-width: 34px;
    min-height: 34px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
}
.randomMsg:active{
    transform: scale(.85);
}
.inputBox{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    overflow: auto;
    min-height: 160px;
    max-height: 400px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 25px;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 700;
    color: #000;
    border-radius: 0 0 25px 25px;
    background-color: transparent;
}
::placeholder{
    color: #00000042;
}
.locktxt{
    font-size: 1rem;
    font-weight: 500;
    margin: 15px 0;
}
.btn{
    color: #fff;
    border: none;
    outline: none;
    min-height: 60px;
    width: 100%;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: all .2s;
    background-color: #000;
    box-shadow: 0 4px 10px #000000a8;
}
.btn:active{
    transform: scale(.95);
    letter-spacing: normal;
    filter: blur(2px);
}
.sendBtnIn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sending{
    width: 35px;
    height: 35px;
    display: none;
    border-radius: 50%;
    border: 5px solid #ffffff3d;
    border-top: 5px solid #fff;
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.btnSvg{
    margin-left: 10px;
    transition: all 0s;
    background-color: transparent;
}
.insta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.instaprompt{
    font-size: 1.05rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.instaBtnLink{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 18px 0;
}
.instaBtn{
    animation: animate-shake 2s ease-in-out infinite;
}
@keyframes animate-shake {
    0% { transform: scale(1) rotate(0deg); }
    30% { transform: scale(1.05) rotate(1deg); }
    35% { transform: scale(1.05) rotate(-1deg); }
    40% { transform: scale(1.05) rotate(1deg); }
    45% { transform: scale(1.05) rotate(0deg); }
    60% { transform: scale(1) rotate(0deg); }
    70% { transform: scale(1) rotate(0deg); }
    80% { transform: scale(1) rotate(0deg); }
    90% { transform: scale(1) rotate(0deg); }
    100% { transform: scale(1) rotate(0deg); }
}
.termsPrivacy{
    gap: 10px;
    color: #ffffff80;
    display: flex;
    font-size: 12px;
    font-weight: 700;
}
.sendAnotherMsg{
    font-size: 1.15rem;
    font-weight: 600;
    border: none;
    color: #fff;
    display: none;
    margin-bottom: 15px;
    padding-bottom: 2px 0;
    letter-spacing: .5px;
    border-bottom: 2px solid;
    background-color: transparent;
}
